


<div *ngIf="userID > 1">Super User
<div>Create a new user</div>
<form (submit)="createNewUser($event)">
  <input type="email" placeholder="Username" [(ngModel)]="usernameNewUser" name="username" id="usernameNewUser">
  <input type="password" placeholder="Password" [(ngModel)]="passwordNewUser" name="password" id="passwordNewUser">
  <input type="text" placeholder="Group" [(ngModel)]="groupNewUser" name="group" id="groupNewUser">
  <button type="submit">Submit</button>
</form>


<div>Remove a user
  <form (submit)="removeUser($event)">
    <input type="email" placeholder="Username" [(ngModel)]="usernameRemoveuser" name="username" id="usernameRemoveuser">
    <button type="submit">Submit</button>
  </form>
</div>



<div>Make a user a super admin
  <form (submit)="makeUserSuperAdmin($event)">
    <input type="email" placeholder="Username" [(ngModel)]="usernameMakeSuperUser" name="username" id="usernameMakeSuperUser">
    <button type="submit">Submit</button>
  </form>
</div>

<div *ngIf="userID > 0">Admin User
<div>Create a new group </div>
  <form (submit)="createGroup($event)">
    <input type="group" placeholder="Group" [(ngModel)]="groupnameNewGroup" name="groupname" id="groupnameNewGroup">
    <button type="submit">Submit</button>
  </form>
</div>


<div>Add an exisiting user to group
  <form (submit)="addUserToGroup($event)">
    <input type="email" placeholder="Username" [(ngModel)]="usernameAddUserToGroup" name="username" id="usernameAddUserToGroup">
    <input type="group" placeholder="Group" [(ngModel)]="groupAddUserToGroup" name="groupname" id="groupAddUserToGroup">
    <button type="submit">Submit</button>
  </form>
</div>


<div>Add channel to group
  <form (submit)="addchannelToGroup($event)">
    <input type="channel" placeholder="Channel" [(ngModel)]="channelnameAddChannel" name="channelname" id="channelnameAddChannel">
    <input type="group" placeholder="Group" [(ngModel)]="groupChannelToGroup" name="groupname" id="groupChannelToGroup">
    <button type="submit">Submit</button>
  </form>
</div>


<div>Delete a group
  <form (submit)="deleteGroup($event)">
    <input type="group" placeholder="Group" [(ngModel)]="groupnameDeleteGroup" name="groupname" id="groupnameDeleteGroup">
    <button type="submit">Submit</button>
  </form>
</div>

<div>Delete a user from a group
  <form (submit)="deleteUserFromGroupFunc($event)">
    <input type="email" placeholder="Username" [(ngModel)]="usernameDeleteUserFromGroup" name="username" id="usernameDeleteUserFromGroup">
    <input type="group" placeholder="Group" [(ngModel)]="deleteAUserFromGroup" name="groupname" id="deleteAUserFromGroup">
    <button type="submit">Submit</button>
  </form>
</div>

<div>Delete a user from a channel
  <form (submit)="deleteUserFromChannel($event)">
    <input type="email" placeholder="Username" [(ngModel)]="deleteUserFromChannelName" name="username" id="deleteUserFromChannelName">
    <input type="channel" placeholder="Channel" [(ngModel)]="userDeleteFromChannelChannelName" name="channelname" id="userDeleteFromChannelChannelName">
    <button type="submit">Submit</button>
  </form>
</div>

<div>Add a user to a channel
  <form (submit)="addNewUserToChannel($event)">
    <input type="email" placeholder="Username" [(ngModel)]="addUserToChannel" name="username" id="addUserToChannel">
    <input type="channel" placeholder="Channel" [(ngModel)]="channelAddUserChannel" name="channelname" id="channelAddUserChannel">
    <button type="submit">Submit</button>
  </form>
</div>

<div>Make a user a group admin of a group
  <form (submit)="makeUserGroupAdminOfGroup($event)">
    <input type="email" placeholder="Username" [(ngModel)]="usernameMakeGroupAdminOfGroup" name="username" id="usernameMakeGroupAdminOfGroup">
    <input type="group" placeholder="Group" [(ngModel)]="groupNameAdminOfGroup" name="groupname" id="groupNameAdminOfGroup">
    <button type="submit">Submit</button>
  </form>
</div>
</div>
